body {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
	/* background-color: rgb(255, 255, 255); */
	font-family: 'Lora', serif;
	text-align: center;
	list-style-type: none;
}

/* .spinner-wrapper {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	z-index: 9999;
} */


.container-fluid {
	padding: 2% 5%;
}

.container {
	margin: 3% auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(75, 197, 145);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(75, 197, 145);
	line-height: 1.5;
}

.blur-light {
	background-color: rgb(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

.blur-dark {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
}

section hr {
	overflow: visible;
	/* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	width: 50%;
	margin: auto;
}

section hr:after {
	content: "Foodplan";
	display: inline-block;
	position: relative;
	top: -0.9em;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	padding: 0 0.25em;
	background: rgb(255, 255, 255);
}

/* Header/ Navbar */
.nav .bi {
	color: rgb(93, 93, 93);
	font-size: 1.5rem;
}

.navbar {
	background-color: rgb(229, 212, 41);
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0 10%;
}

.navbar-brand>img {
	max-width: 12rem;
}

.nav-item {
	margin: auto 1rem;
}

.nav-link {
	color: rgb(93, 93, 93);
}

.btn {
	margin: 3px;
}

.menu-bar .btn-lg {
	padding: 10px 25px;
}

.menu-bar>a {
	left: 80%;
	max-width: 10rem;
}

.red-arrow {
	width: 6rem;
	rotate: -15deg;
}

.btn-success {
	background: rgb(75, 197, 145);
	border: medium none;
}

.btn-outline-success {
	background: rgb(255, 255, 255);
}

.icon {
	height: 32px;
	width: 32px;
}


section#about {
	background: url(../img/baner-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


section#about img {
	max-width: 7rem;
	margin: 1rem auto;
}



section#list .carousel-indicators,
#menus-carousel .carousel-indicators {
	bottom: -2rem;
}

.carousel-control-prev,
.carousel-control-next {
	max-width: 3rem;
	max-height: 10rem;
	margin: auto;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3e%3c/svg%3e");
}


.carousel .card {
	max-width: 20rem;
	height: 100%;
	margin: auto;
}

.card .tag {
	max-width: 3rem;
	margin: 2% auto;
}


/* ToDo */

.card {
	position: relative;
}

.card-info {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: none;
}

.card-info .card-body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

section#cart-items .card {
	max-width: 22rem;
}


.menu-page .modal-backdrop {
	position: absolute !important;
	background-color: rgb(255, 255, 255, 0.5);
	backdrop-filter: blur(5px) !important;
	top: 50% !important;
	left: 1% !important;
	width: 72% !important;
	height: 60% !important;
}

.menu-page .modal-open {
	display: none !important;
}

.container#checkout {
	max-width: 960px;
}

footer {
	background-image: url("https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg?w=996&t=st=1675175536~exp=1675176136~hmac=304d7ca772f619a97b8d95f448fcd932ff0dc07c32f67784153de611050d0fca");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.footer,
.footer a {
	color: rgb(255, 255, 255);
	line-height: 2;
	font-family: 'Montserrat', sans-serif;
}

.footer .bi {
	margin: 0 2%;
}

.footer hr {
	border-top: medium double #fff;
	color: #fff;
	margin: 2rem auto 0;
}

.footer hr::after {
	background: rgba(0, 0, 0);

}

.hidden {
	display: none;
}


/* mobile view */
@media (max-width: 768px) {

	.container-fluid,
	.container,
	.carousel-inner {
		padding: 1%;
	}

	.navbar-brand>img {
		max-width: 8rem;
	}

	.menu-bar .btn {
		padding: 2% !important;
	}

	.menu-bar>a {
		position: relative !important;
		left: 0;
		float: right;
		max-width: min-content;
	}

	.red-arrow {
		width: 3rem;
		rotate: -25deg;
		z-index: -1;
	}

	.tag-bar {
		height: 15rem;
		overflow: auto;
		background-color: rgb(93, 93, 93, 0.1);
	}

	.card .card-img-top {
		display: none;
	}

	.vh-100 {
		height: 0 !important;
	}

}